* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.titulo-Destaque {
    color: #02ccbf;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 500px;
}